@import '../variables.scss';

.about{
    display: block;
    width: 100%;
    height: 670px;

    &__title{
        display: flex;
        justify-content: center;
        padding-top: 125px;

        p{
            font-size: 30px;
            font-weight: bold;
        }
    }

    &__descr{
        display: block;
        width: 630/1400 * 100%;
        height: 162px;
        margin: auto;
    }

    &__cards{
        display: flex;
        width: $maxWidhtContainer;
        margin: auto;

        &-card{
            display: block;
            width: 33.3%;

            &_image{
                text-align: center;
                width: 170/390 * 100%;
                height: 61px;
                margin: auto;
            }

            &_title{
                display: block;
                padding-top: 41px;
                width: 170/390 * 100%;
                height: 83px;
                margin: auto;
                text-align: center;

                p{
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            &_descr{
                display: block;
                width: 250/390 * 100%;
                padding-top: 20px;
                height: 59px;
                text-align: center;
                margin: auto;
            }
        }
    }
}