@import '../variables.scss';

.cardS{
    display: block;
    width: 370/1170 * 100%;
    height: 438px;
    background-color: #fff;
    transition: all $duration ease;
    cursor: pointer;

    &__image{
        padding-top: 59px;
        display: flex;
        justify-content: center;
    }

    &__title{
        margin-top: 20px;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: flex-start;

        p{
            font-size: 20px;
        }
    }

    &__descr{
        display: flex;
        height: 91px;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 50/370 * 100% 0px 50/370 * 100%;

        p{
            font-size: 15px;
        }
    }

    &__button{
        margin-top: 70px;
        display: flex;
        justify-content: center;

        button{
            width: 220/370 * 100%;
        }


    }

    &:hover{
        background-color: $activeColor;
        box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.4);

        div{
            svg,
            p{
                color: #fff;
            }

            button{
                color: #fff;
                background-color: $activeColor;
                border: 3px solid #fff;
            }
        }
    }
}

